@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat');

h1 {
  font-family: Comfortaa, sans-serif;
  font-size: 60px;
  margin: 40px;
  margin-left: 0;
  margin-bottom: 20px;
  font-weight: bold;
  color: #8FC9BD;
}

body {
  margin: 40px;;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

th {
  font-size: 16px;
  font-weight: bolder;
}

.btn {
  background-color: #8FC9BD;
  border-color: #72a89d;
}

.btn:hover {
  background-color: #72a89d;
  border-color: #72a89d;
}

.children {
  text-align: center;
}

div.recharts-wrapper {
  margin: auto;
  margin-top: -80px;
  margin-bottom: -40px;
  text-align: center;
}

.high-openness {
  color: crimson;
}
